<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Books</h1>
	<a
		href="/book/create"
	>
		CREATE NEW BOOK
	</a>
	<ul>
		<li
			th:each="book : ${books}"
			th:object="${book}"
		>
			[[*{name}]]
			<div
				th:if="*{borrowings}"
			>
				<br>
				Prestiti:
				<ul>
					<li
						th:each="borrowing : *{borrowings}"
						th:object="${borrowing}"
					>
						[[*{name}]]
					</li>
				</ul>
			</div>
			<div
				th:if="*{categories}"
			>
				<br>
				Categories:
				<ul>
					<li
						th:each="category : *{categories}"
						th:object="${category}"
					>
						[[*{name}]]
					</li>
				</ul>
			</div> 
		</li>
	</ul>
</body>
</html>